<style>
    .toolbar-text {
      cursor: pointer;
      font-size: 15px;
      font-family: "DM Serif Display", serif;
    }
    .toolbar-text1 {
      font-size: 32px;
      font-weight: bold;
      font-family: "DM Serif Display", serif;
    }
    .toolbar-text:hover {
      background-color: #eb96c2;
      border-radius: 5px; /* ปรับขนาดของมุม */
      font-family: "DM Serif Display", serif;
    }
    a:hover {
      background-color: #3a3838;
      border-radius: 5px;
      
    }

  </style>
  
  <mat-toolbar style="background-color: #ef81b4">
    <img
      src="https://i.pinimg.com/564x/21/27/70/212770c323923972f4fb07317ce5d7ea.jpg"
      width="50px"
      style="border-radius: 50%;"
      
    />
    <div
      style="
        color: azure;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      "
    >
      <span class="toolbar-text1">Cat breed vote</span>
      <span class="toolbar-text" style="margin-left: 45%">Home </span>
      <img
      src="https://i.pinimg.com/564x/bc/dd/16/bcdd16b323163d28f6f5e6f0384783b3.jpg"
      width="50px"
      style="border-radius: 50%;"

    />
      <span class="toolbar-text">story</span>
      <span class="toolbar-text">Episodes</span>
      <span class="toolbar-text">Video</span>
      <a style="text-decoration: none; color: aliceblue; font-size: 15px ;"
       routerLink="/Login">log out</a>
    </div>
  
  