<mat-toolbar style="background-color: #ef81b4">
  <div class="logo">
    <img
      src="https://i.pinimg.com/736x/6e/e0/37/6ee037debbedd202d6c68df93bf2cbc4.jpg"
    />
  </div>
  <span class="toolbar-text1">Cat breed votle</span>

  <div class="container">
    <div class="logo">
      <img
        src="https://i.pinimg.com/564x/85/df/cb/85dfcbdc769e8ac6928a00935bfbe39e.jpg"
      />
      <a class="toolbar-text" onclick="routerLink" href="/top10">Top10</a>
    </div>
    <div class="logo1">
      <img
        src="https://i.pinimg.com/564x/bc/dd/16/bcdd16b323163d28f6f5e6f0384783b3.jpg"
      />
      <a class="toolbar-text" onclick="routerLink" href="/login">Log in</a>
    </div>
  </div>
</mat-toolbar>
<!-- 
<mat-toolbar *ngIf="isLoggedIn()" style="background-color: #ef81b4">
  <div class="logo">
    <img src="https://i.pinimg.com/736x/6e/e0/37/6ee037debbedd202d6c68df93bf2cbc4.jpg"/>
  </div>
  <span class="toolbar-text1">Cat breed vote</span>

  <div class="container">
    <div class="logo">
      <img src="https://i.pinimg.com/564x/85/df/cb/85dfcbdc769e8ac6928a00935bfbe39e.jpg"/>
      <a class="toolbar-text" onclick="routerLink" href="/top10">Top10</a>
    </div>
    <div class="logo1">
      <img src="https://i.pinimg.com/564x/bc/dd/16/bcdd16b323163d28f6f5e6f0384783b3.jpg"/>
      <a class="toolbar-text" onclick="routerLink" href="/login">Log in</a>
    </div>
  </div>
</mat-toolbar>  -->
