body{
    background-image: url("https://i.pinimg.com/564x/fb/f6/d7/fbf6d7943db97efc2100fcd038d2fe10.jpg");
    // justify-content: center;
    // align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
}