<app-nav></app-nav>
<body>
  <div class="h1">
    <p>Click on the image to vote!!</p>
  </div>

  <div class="container">
    <div class="div">
      <div class="logo">
      
        <img
          src="https://i.pinimg.com/564x/c2/36/74/c236747cd41f8a2605f8d6bfededb9ff.jpg"
        />
      </div>
      <div class="pro">
        <p>sasiyhon337786</p>
      </div>
    </div>
    <div class="picvote1">
      <img
        src="https://i.pinimg.com/564x/b4/9e/b7/b49eb71e6983ecee173beb8f65581a5e.jpg"
      />
    </div>
  </div>
  <div class="OR">
    <p>OR</p>
  </div>
  <div class="container2">
    <div class="div1">
      <div class="logo">
        <img
          src="https://i.pinimg.com/564x/99/6b/df/996bdf397b61ce04ed5fa4e2282201c0.jpg"
        />
      </div>
      <div class="pro">
        <p>Beemmmy_beem</p>
      </div>
    </div>
    <div class="picvote2">
      <img
        src="https://i.pinimg.com/564x/aa/e3/95/aae3953a647f4b26502bd76fcf7dd7ca.jpg"
      />
    </div>
  </div>
</body>
