<app-navtop10></app-navtop10>
<body>
  
    <div class="container">
        <div class="div">
          <div class="logo">
            <img
              src="https://i.pinimg.com/564x/c2/36/74/c236747cd41f8a2605f8d6bfededb9ff.jpg"
            />
          </div>
          <div class="pro">
            <p>Sasithon_Nutty</p>
          </div>
        </div>
        <div class="picvote1">
          <img
            src="https://i.pinimg.com/564x/b4/9e/b7/b49eb71e6983ecee173beb8f65581a5e.jpg"
          />
        </div>
      </div>
     
</body>
